<div class="container">
  <%= form_with model: @schoolboy do |form| %>
    <div class="form-group mb-3 mt-5">
      <%= form.label :surname %><br>
      <%= form.text_field :surname, class: "form-control" %>

      <% @schoolboy.errors.full_messages_for(:surname).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :where_want_to_enter %><br>
      <%= form.select :where_want_to_enter, %w[10 knu kpi nau], {}, class: "form-control" %>

      <% @schoolboy.errors.full_messages_for(:where_want_to_enter).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :where_entered %><br>
      <%= form.select :where_entered, %w[10 knu kpi nau], {}, class: "form-control" %>

      <% @schoolboy.errors.full_messages_for(:where_entered).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    </div>

    <div class="form-group mb-3">
      <%= form.submit :Submit, class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>
